{% comment %}
  Button arrows

  Accepts:
  - fill: {String} Hex. code color
  - direction: {String} left | Right

  Usage:
  {% render "button-arrow",
    direction: "right"
  %}
{% endcomment %}

{% assign fill = fill | default: "#000" %}

<span class="btn-arrow">
  {% unless direction or direction == "right" %}
    <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.552644 8.34685C0.552007 8.21201 0.578309 8.0784 0.630006 7.95385C0.681703 7.82931 0.757755 7.71635 0.853697 7.62159L7.6958 0.779487C7.89545 0.643021 8.13688 0.581439 8.3775 0.605601C8.61812 0.629764 8.84248 0.73812 9.01101 0.911557C9.17954 1.08499 9.28141 1.31237 9.29866 1.55359C9.3159 1.7948 9.24741 2.03436 9.10527 2.23001L3.02949 8.34685L9.10527 14.4637C9.23034 14.6566 9.28702 14.8859 9.26623 15.1148C9.24545 15.3438 9.14841 15.5591 8.99066 15.7263C8.83291 15.8935 8.62358 16.0029 8.39624 16.037C8.1689 16.0711 7.93669 16.0278 7.73685 15.9142L0.894749 9.07212C0.79135 8.98089 0.707674 8.86951 0.648846 8.74479C0.59002 8.62008 0.557283 8.48467 0.552644 8.34685Z" fill="{{ fill }}"/>
    </svg>
  {% else %}
    <svg width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.86825 8.42107C8.86889 8.28623 8.84259 8.15262 8.79089 8.02807C8.7392 7.90353 8.66314 7.79057 8.5672 7.69581L1.7251 0.853705C1.52545 0.717239 1.28402 0.655657 1.0434 0.67982C0.80278 0.703983 0.578419 0.812339 0.40989 0.985776C0.241361 1.15921 0.13949 1.38659 0.122243 1.62781C0.104997 1.86902 0.173484 2.10858 0.315624 2.30423L6.39141 8.42107L0.315624 14.5379C0.190563 14.7308 0.133882 14.9601 0.154665 15.189C0.175448 15.418 0.272492 15.6333 0.430242 15.8005C0.587993 15.9677 0.797315 16.0772 1.02466 16.1112C1.252 16.1453 1.4842 16.1021 1.68405 15.9884L8.52615 9.14634C8.62955 9.05511 8.71323 8.94372 8.77205 8.81901C8.83088 8.6943 8.86362 8.55889 8.86825 8.42107V8.42107Z" fill="{{ fill }}"/>
    </svg>
  {% endunless %}
</span>
  