{% comment %}
  Render masonry v1 image

  Accepts:
  - align: {String} Main image modificator class main-left or main-right
  - image: {Object} image object render in background
  - url: {String} URL
  - hover_label {String} Extended label class
  - label_text {String} Text to label

  Usage:
  {% render 'masonry-v1-image'
    align: 'masonry-v1__image--main-left|masonry-v1__image--main-right',
    image: image_object,
    url: url_image,
    hover_label: hover_label_class,
    label_text: 'Label text'
  %}

{% endcomment %}

<div class="masonry-v1__image {{ align }}">
  <a
    class="masonry-v1__image-link"
    href="{{ url }}"
  >
    {% render "render-image"
      class: "masonry-v1__image-background",
      img: image,
      alt: image.alt,
      size: "600",
      width: "medium"
    %}
    {% if label_text != blank %}
      <div class="masonry-v1__image-label {{ hover_label }}">
        {{ label_text }}
      </div>
    {% endif %}

  </a>
</div>
