<small
  role="status" aria-live="polite"
  id="error-out-stock"
  class="cart-message-error form__message form__message--error hidden"
  data-message="{{ 'products.product.out_stock' | t }}"
>
  {% render 'icon-error' %}
  <span>
    {{ 'products.product.out_stock' | t }}
  </span>
</small>
