{% comment %}
  Price product

  Accepts:
  - product {Object} Required - Product object
  - compare_at_price {Number} Optional - Compare price of a product variant
  - price {Number} Optional - Final price shipping of a product variant

  Usage:
  {% render 'price'
    product: product,
    compare_at_price: compare_at_price,
    price: price
  %}
{% endcomment %}

{%-liquid
  unless price or compare_at_price
    assign first_variant = product.selected_or_first_available_variant
    assign price = first_variant.price
    assign compare_at_price = first_variant.compare_at_price
  endunless
-%}

<div class="product price price-product-js">
  {% if price < compare_at_price %}
    <span role="status" aria-live="polite" class="compare {{ hide_price }}">
      {{ compare_at_price | money_with_currency -}}
    </span>
  {% endif %}
  <span role="status" aria-live="polite" class="regular">
    {{ price | money_with_currency -}}
  </span>
</div>
