{% comment %}
  Renders a stars ratings

  Accepts:
  - points: {Number} Number in range 1 - 5 to display ratings

  Usage:
  {% render "ratings" points: 5 %}
{% endcomment %}

{% liquid
  assign ratings_width = points | times: 20
%}

<div class="ratings">
  <div class="ratings__empty-stars"></div>
  <!-- eslint-disable-next-line @html-eslint/no-inline-styles -->
  <div
    class="ratings__full-stars"
    style="width:{{ ratings_width }}%"
  >
  </div>
</div>
