.container__dual-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .container__media,
  .container__description {
    width: 100%;
    align-self: center;
  }

  .container__media {
    height: 0;
    overflow: hidden;
    padding-top: 75%;
    background: white;
    position: relative;

    img {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container__media > .dual-section {
    &__iframe,
    &__video {
      width: 100%;
      height: 30vh;
      z-index: -1;
      pointer-events: none;
      overflow: hidden;
    }

    &__iframe iframe,
    &__video video {
      height: 56.25vw;
      min-height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__video video {
      width: 100vw;
      min-width: 177.77vh;
    }
  }

  .container__description div {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2,
    h3,
    h4 {
      font-weight: 600;
      margin: 20px 0;
    }

    strong {
      font-weight: 600;
    }

    a {
      display: block;
      text-align: center;
      text-decoration: none;
    }
  }
}

@media (width >= 768px) {
  .position__image-left {
    flex-direction: row;

    .container__description {
      div {
        margin: 10px 0 10px 20px;
      }
    }
  }

  .position__image-right {
    flex-direction: row-reverse;

    .container__description {
      div {
        margin: 10px 20px 10px 0;
      }
    }
  }

  .container__dual-section {
    .container__media,
    .container__description {
      width: 50%;
      align-self: center;
    }

    .container__media {
      padding-top: 31.6%;
    }
  }
}
