@use "../abstracts/variables";

.filter-group-display__list {
  padding-left: 1px;
  list-style: none;

  li:not(li:last-of-type) {
    padding-bottom: 0.5rem;
  }
}

.filter-group-display__list li {
  margin-bottom: 15px;

  input[type="checkbox"] {
    &:checked + label {
      font-weight: 700;
      text-decoration: underline;
    }

    &:disabled + label {
      display: none;
    }
  }

  .checkbox__custom {
    width: 16px;
    height: 16px;
    margin-right: 15px;
    background-color: variables.$color-white;
    border-radius: 2px;
    content: "";
    cursor: pointer;
    border: 2px solid #ddd;
  }

  .checkbox__input {
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    opacity: 0;

    &:checked + .checkbox__custom {
      background-color: variables.$color-black;
      border: 2px solid variables.$color-black;

      &::after {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: variables.$color-white;
        content: "L";
        font-size: 13px;
        transform: rotateZ(45deg) rotateY(180deg) translate(0, -1px);
      }
    }

    &:disabled {
      opacity: 0.4;
      cursor: no-drop;
    }
  }

  & > span {
    color: #b1b1b1;
    font-size: 14px;
  }
}

.filter-group-display__list-item {
  .label-check {
    position: relative;
  }

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  input {
    margin-right: 0.5rem;
  }
}

.filter-group-display__list.color {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;

  li {
    padding-right: calc(0.5rem + 4px);
  }

  input[type="checkbox"] {
    display: none;

    & + span {
      display: block;
      display: flex;
      width: 20px;
      height: 20px;
      box-sizing: content-box;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 2px solid rgb(0 0 0 / 30%);
      border-radius: 100%;
      cursor: pointer;
      font-size: 0;
      transition: all 0.3s;

      & > span {
        width: 24px;
        height: 24px;
        border-radius: 100%;
      }
    }

    &[value="White"] + span > span {
      border: 2px solid variables.$color-black;
    }

    &:checked + span {
      border: 2px solid variables.$color-black;
    }
  }
}
