.sort-by {
  display: flex;
  align-items: center;
  margin-left: 20px;

  & > label {
    margin-right: 10px;
  }

  select {
    width: 200px;
    padding-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media screen and (width <= 750px) {
    & > .form__textfield {
      width: 100%;
    }

    & > label {
      display: none;
    }

    select {
      width: 100%;
    }
  }
}
