@use "../abstracts/variables";

.main-collection {
  margin: variables.$margin-section auto;

  .wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.collection-hero {
  .breadcrumbs {
    margin: 0 0 15px;
  }

  .h1 {
    margin-bottom: 10px;
  }
}

.list-products {
  @media screen and (width >= variables.$break-point-filter) {
    width: calc(100% - 330px);
  }

  &--empty {
    text-align: center;
    margin-bottom: 40px;
  }
}

.collection-product-list {
  display: flex;

  .items-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media screen and (width <= 1100px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (width <= 550px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
