.container-quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  padding: 5px;
  border: 1px solid;
  margin-top: 10px;

  input {
    width: 50px;
    padding: 0;
    text-align: center;
    border-style: none;
  }

  .btn-change {
    line-height: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px;

  }
}
