@use '../abstracts/variables';

.variant {
  &__radio-button {
    cursor: pointer;
    
    input {
      &:checked + .variant__radio-button--design {
        border: 1px solid variables.$color-black;
        box-shadow: 0 2px 5px rgba($color: variables.$color-black, $alpha: 30%);
      }
    }

    &--design {
      width: 20px;
      height: 20px;
      border: 1px solid rgba($color: variables.$color-black, $alpha: 30%);
      border-radius: 50%;
    }
  }
}

.variant__radio-button[data-disable="true"] {
  >span::before {
    position: absolute;
    top: 6px;
    left: 16px;
    width: 2px;
    height: 69%;
    background: #955;
    content: " ";
    transform: rotate(45deg);
  }
}