@use "../abstracts/variables";

.video {
  &__background {
    padding: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-style: none;
    cursor: pointer;

    &:active {
      transform: translate(-50%, -50%) scale(0.9);
    }

    & > svg {
      height: 70px;
      width: 80px;
      color: variables.$color-white;
    }
  }

  &__content {
    position: absolute;
    padding: 0 50px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;

    & > h2 {
      font-weight: 500;

      strong {
        font-weight: 600;
      }

      a {
        font-size: variables.$font-size-h2;
      }
    }

    & > a.btn-1 {
      display: block;
      text-decoration: none;
    }
  }

  &__close {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    cursor: pointer;
  }

  &__modal {
    z-index: 2;
    display: none;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &[data-active="true"] {
      display: block;

      + .video__close {
        display: block;
      }
    }

    &-wrapper {
      position: relative;
      padding-bottom: 60%;

      & > iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  & > .overlay {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$color-black;
    opacity: 0.5;
  }
}
