@use "../abstracts/variables";

.wrapper {
  max-width: variables.$max-width-wrapper;
  margin-right: auto;
  margin-left: auto;

  @media screen and (width >= 750px) {
    padding-right: variables.$paddings-side;
    padding-left: variables.$paddings-side;
  }

  @media screen and (width <= 749px) {
    padding-right: variables.$paddings-side-movil;
    padding-left: variables.$paddings-side-movil;
  }

  &--s {
    max-width: 800px;
  }
}

section,
.margin-section {
  margin-bottom: 60px;
}

.no-margin {
  margin-bottom: 0;
}
