{% liquid
  assign marquee = section.settings.slider_texts | replace: '|', '<span class="marquee-break">●</span>'
%}

<div class="marquee">
  {% for i in (1..3) %}
    <span
      class="marquee__scroll"
      {% unless forloop.first %} aria-hidden="true"{% endunless %}
    >
      {{ marquee | prepend: '<span class="marquee-break">●</span>' }}
    </span>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Marquee",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "slider_texts",
      "label": "Slider text",
      "default": "San Valentin Day -30% OFF|San Valentin Day -30% OFF|San Valentin Day -30% OFF|San Valentin Day -30% OFF|San Valentin Day -30% OFF",
      "info": "Text split is: |. Example: text 1|text 2|...",
      "placeholder": "text 1|text 2|..."
    }
  ],
  "presets": [
    {
      "name": "Marquee"
    }
  ]
}
{% endschema %}