{% if section.settings.title != blank %}
  <h2 class="section__title">
    {{ section.settings.title }}
    <span class="higlighted">
      {{ section.settings.title_highligthed }}
    </span>
  </h2>
{% endif %}


{% schema %}
{
  "name": "Section Title",
  "class": "wrapper",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "title_highligthed",
      "label": "Title Highlighted"
    }
  ],
  "presets": [
    {
      "name": "Section title"
    }
  ]
}
{% endschema %}
