{% assign cart_title = "sections.cart.title" | t %}

{% render 'cart-header'
  cart: cart,
  title: cart_title
%}

<div class="side-cart__items side-cart__margins">
  {% render 'cart-items'
    cart: cart
  %}
</div>

{% if section.settings.upsell_collection != blank %}
  {% render 'cart-upsell'
    cart: cart,
    collection: section.settings.upsell_collection,
    title: section.settings.upsell_title
  %}
{% endif %}

{% render 'cart-footer'
  cart: cart,
  title: section.settings.progressbar_title,
  total_price: cart.original_total_price,
  limit_price: section.settings.limit_price,
  text_free_shipping: section.settings.free_shipping
%}

{% schema %}
{
  "name": "Cart",
  "class": "side-cart",
  "settings": [
    {
      "type": "collection",
      "id": "upsell_collection",
      "label": "Products upsell"
    },
    {
      "type": "header",
      "content": "Progress Bar"
    },
    {
      "type": "text",
      "id": "progressbar_title",
      "label": "Progress bar title",
      "default": "Plus que [value] pour avoir la réduction de livraison gratuite",
      "info": "Ex: plus [value] euros pour avoir la réduction de livraison gratuite"
    },
    {
      "type": "text",
      "id": "free_shipping",
      "label": "Text free shipping",
      "default": "Livraison gratuite"
    },
    {
      "type": "number",
      "id": "limit_price",
      "label": "Limit price €",
      "default": 100
    },
    {
      "type": "header",
      "content": "Cart configuration"
    },
    {
      "type": "text",
      "id": "upsell_title",
      "label": "Upsell title",
      "default": "Vous aimerez aussi.."
    }
  ]
}
{% endschema %}
