/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/breadcrumbs.scss ***!
  \******************************************************************************************************************/
/* ====== Font ====== */
/* ====== Colors ====== */
/* ====== Break points ====== */
/*
 * Create excerpt
 * @param $line - Line from apply excerpt
*/
/*
* Scroll styles
* @param - $barColor - default: $primary - Bar color in the scroll
* @param - $barWidthX - default: 5px - Bar width
* @param - $barWidthY - default: 5px - Bar height
*/
.breadcrumbs {
  margin: 50px 0;
}
.breadcrumbs__list {
  display: box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: 95%;
  overflow: hidden;
}
.breadcrumbs__item {
  display: inline-block;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  display: inline-block;
  margin: 0 7px;
  position: relative;
  width: 0.2em;
}
.breadcrumbs__link {
  color: #000;
}
.breadcrumbs__link[aria-current=page] {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}
