/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/pagination.scss ***!
  \*****************************************************************************************************************/
.infinity-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.infinity-scroll--loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infinity-scroll--loading-container #loading {
  border-top-color: #000;
}
